{% extends "core/base.html" %}

{% load static %}

{% block ngapp %}ng-app="myApp"{% endblock ngapp %}
{% block ngcontroller %}ng-controller="CtrlIndex"{% endblock ngcontroller %}

{% block content %}
    {% verbatim %}
        <div class="block-header">
            <h2>Painel de Visão Geral</h2>
        </div>
        <div class="row clearfix">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box-3 bg-indigo">
                    <div class="icon">
                        <i class="material-icons">multiline_chart</i>
                    </div>
                    <div class="content">
                        <div class="text text-upper">Pedidos Ativos</div>
                        <div class="number">{{ retorno.order_count }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box-3 bg-blue">
                    <div class="icon">
                        <i class="material-icons">work</i>
                    </div>
                    <div class="content">
                        <div class="text text-upper">Total de estações</div>
                        <div class="number ">{{ retorno.started_desk + retorno.idle_desk }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box-3 bg-cyan">
                    <div class="icon">
                        <i class="material-icons">power_settings_new</i>
                    </div>
                    <div class="content">
                        <div class="text text-upper">Mesas Inativas </div>
                        <div class="number ">{{ retorno.idle_desk }}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Widgets -->

        <!-- TESTE -->
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="desk in desks">
                <div class="info-box-3 bg-light-green" ng-if="desk.status == 'working'">
                    <div class="icon">
                        <i class="material-icons">alarm_on</i>
                    </div>
                    <div class="content">
                        <div class="text text-upper">
                            #{{ desk.order }} &#8226; Mesa {{ desk.desk_number }}
                        </div>
                        <div class="number">
                            {{ desk.start | date:'HH:mm:ss' }}
                        </div>
                    </div>
                </div>

                <div class="info-box-3 bg-orange" ng-if="desk.status == 'idle'">
                    <div class="icon">
                        <i class="material-icons">alarm_off</i>
                    </div>  
                    <div class="content">
                        <div class="text text-upper">
                            #{{ desk.order }} &#8226; Mesa {{ desk.desk_number }}
                        </div>
                        <div class="number">{{ desk.finish | date:'HH:mm:ss' }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endverbatim %}
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/moments.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular-moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ctrl.js' %}"></script>
{% endblock extra_js %}