{% extends "core/base.html" %}

{% load widget_tweaks %}

{% block content %}
    <div class="row clearfix">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'core:dashboard' %}">
                    <i class="material-icons">home</i> Início
                </a>
            </li>
            <li>
                <a href="{% url 'manager:list' %}">
                    <i class="material-icons">widgets</i> Gerencia de Produção
                </a>
            </li>
            {% if form.instance.pk %}
                <li class="active">
                    Alterar Regristro "{{ object.name }}"
                </li>
            {% else %}
                <li class="active">
                    Adicionar Item
                </li>
            {% endif %}
        </ol>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header {% if form.instance.pk %}bg-cyan{% else %}bg-indigo{% endif %}">
                    {% if form.instance.pk %}
                        <h2 class="text-upper">Alterar Regristro de Produção realizado às "{{ object.hour }}"</h2>
                    {% else %}
                        <h2 class="text-upper">Adicionar Regristro de Produção</h2>
                    {% endif %}
                    <!--<small>You can use material design colors</small>-->
                </div>
                <div class="body table-responsive">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="input-group input-group-lg">
                          {{ form.hour.label_tag }}
                          <div class="form-line">
                            {% render_field form.hour|add_class:'form-control' placeholder='Ex.: 15h30' autofocus='autofocus' %}
                          </div>
                        </div>

                        <div class="input-group input-group-lg">
                          {{ form.produced.label_tag }}
                          <div class="form-line">
                            {% render_field form.produced|add_class:'form-control' placeholder='Unidades produzidas' %}
                          </div>
                        </div>

                        <div class="input-group input-group-lg">
                            {{ form.order.label_tag }}

                            <div class="form-line">
                                {% render_field form.order|add_class:'form-control selectpicker' data-live-search='true' %}
                            </div>
                        </div>

                        <div class="align-center p-t-10 p-b-30">
                            <span>&#8226;</span>
                        </div>

                        <div class="input-group align-center">
                            <a class="btn btn-lg p-l-50 p-r-50 waves-effect btn-default" href="{% url 'manager:list' %}">
                                <i class="material-icons">cancel</i>
                                Cancelar
                            </a>
                            &nbsp;
                            <button type="submit" class="btn btn-lg p-l-50 p-r-50 waves-effect bg-indigo">
                                <i class="material-icons">check</i>
                                Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Basic Table -->
{% endblock %}
