{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block content %}
    {{ form.errors }}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}   
            <div class="align-center">
                <a class="btn btn-lg p-l-50 p-r-50 waves-effect btn-default" href="{% url 'item:list' %}">
                    <i class="material-icons">cancel</i>
                    Cancelar
                </a>
                &nbsp;
                <button type="submit" class="btn btn-lg p-l-50 p-r-50 waves-effect bg-indigo">
                    <i class="material-icons">check</i>
                    Salvar
                </button>
            </div>
        {% endbuttons %}
    </form>
{% endblock %}