{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block content %}
    {{ form.errors }}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <a class="btn btn-default" href="{% url 'item:list' %}"><i class="material-icons">cancel</i> Cancelar</a>
            &nbsp;
            <button type="submit" class="btn btn-primary">
                <i class="material-icons">check</i> Salvar
            </button>
        {% endbuttons %}
    </form>
{% endblock %}